<?xml version="1.0"?>
<launch>

  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" ns="/robospect" args="--namespace=/robospect
					  left_front_axle_controller
					  right_front_axle_controller
					  left_rear_axle_controller
					  right_rear_axle_controller
					  right_rear_steering_joint_controller
					  left_rear_steering_joint_controller
					  crane_first_joint_controller
					  crane_second_joint_controller
					  crane_third_joint_controller
					  crane_fourth_joint_controller
					  crane_fifth_joint_controller
					  crane_sixth_joint_controller
					  crane_seventh_joint_controller
					  crane_tip_joint_controller
					  joint_read_state_controller                                            
                      "/>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find robospect_control)/config/robospect_control.yaml" command="load"/>

  <!-- once the joint_state is published, run the robot_state_publisher, the namespace has to be adapted --> 
  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
    respawn="false" output="screen">
    <remap from="/joint_states" to="/robospect/joint_states" />
  </node>

</launch>

