<?xml version="1.0"?>
<launch>

  

  <node name="robospect_platform_controller" pkg="robospect_robot_control" type="robospect_robot_control_node" output="screen">
	  <rosparam command="load" file="$(find robospect_robot_control)/config/robospect.yaml" />
     <!--remap from="/robospect_robot_control/command" to="/robospect_controller/command"/-->
  </node>
  
</launch>
